* {
  margin: 0;
  padding: 0;
}

#header {
  width: 327px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  font-family: Atkinson Hyperlegible;
  color: #152938;
}
#menu-btn {
  width: 78px;
  height: 40px;
  border-radius: 20px;
  background-color: #fda214;
  color: #fcfcfc;
  border: none;
}
/* 4x4 icon  */
#theme {
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
  margin-top: 80px;
  grid-template-rows: auto;
}
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#icons1 {
  width: 326.88px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5em;
}
.icon {
  width: 70px;
  height: 70px;
  background-color: #304859;
  border-radius: 50%;
  /* cursor: pointer; */
  transition: 0.3s all ease;
  display: grid;
  place-items: center;
}


.icon i {
  opacity: 0; /* Value of Opacity should be 0 */
  color: #fcfcfc;
}
.icon.clicked {
  background-color: #bcced9;
}
.icon.correct {
  background-color: #bcced9;
}
.icon.clicked i,
.icon.icon.correct i {
  opacity: 1;
}
/* .icon.incorrect {
  background-color: rgb(241, 95, 95);
} */

/* 6x6 icon */
#theme2{
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons2{
  width: 326.88px;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.2em;
}
#icons2 .icon {
  width: 40px;  
  height: 40px;
}
/* 4x4 numbers */
#theme3{
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons3{
  width: 326.88px;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.2em;
}

/* 6x6 numbers */
#theme4{
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons4 .icon {
  width: 40px;  
  height: 40px;
}
#icons4{
  width: 326.88px;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.2em;
}
/* Statistics */
.stats{
  opacity: 0; /* Value of Opacity should be 0 */
  width: 327px;
  height: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 112.2px;
}
#timer-div{
  width: 150px;
  height: 70px;
  background-color: #BCCED9;
  margin-right: 20px;
}
.timer{
  width: 87px;
  height: 51px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 
  'Atkinson  Hyperlegible';
}
.sec{
  font-weight: 700;
  color: #152938;
  width: 56.43px;
  height: 30px;
  margin-left: 60px;
  margin-top: -30px;
}
#moves-div{
  width: 150px;
  height: 70px;
  display: grid;
  background-color: #BCCED9;
}
.moves{
  width: 87px;
  height: 51px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.mov{
  font-weight: 700;
  color: #152938;
  margin-left: 70px;
  margin-top: -30px;
}
#menu-btn-popup{
  visibility: hidden; /* Value should be hidden*/
  width: 327px;
  height: 224px;
  display: grid;
  place-items: center;
  margin-left: 24px;
  border-radius: 15px;
  position: absolute;
  top: -90px;
  transition: transform 0.4s, bottom 0.4s;
  transform: scale(0.1);
  background-color: #F2F2F2;
}
#menu-restart-btn, #menu-new-game-btn, #menu-resume-game-btn{
  width: 279px;
  height: 48px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  border: none;
}
#menu-restart-btn{
  color: #F2F2F2;
  background-color: #FDA214;
}
#menu-new-game-btn, #menu-resume-game-btn{
  color: #304859;
  background-color: #DFE7EC;
}
#popup{
  visibility: hidden; /* Value should be hidden*/
  width: 327px;
  height: 376px;
  background-color: #F2F2F2;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -190px;
  right: 25px;
  transform: scale(0.1);
  display: grid;
  place-items: center;
  border-radius: 15px;
  bottom: 170px;
  transition: transform 0.4s, bottom 0.4s;
}
.popup-info{
  width: 238px;
  height: 56px;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 288px;
}
.popup-info h3{
  font-weight: 700;
  font-size: 24px;
  color: #152938;
}
.popup-p{
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  color: #7191A5;
}
.solo-result{
  width: 279px;
  height: 104px;
  margin-top: 80px;
}
.time-elapsed, .moves-taken{
  width: 279px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-between;
  background-color: #DFE7EC;
}
.time-elapsed{
  margin-bottom: 8px;
}
.time-elapsed .t, .moves-taken .m{
  /* text-align: start; */
  padding-right: 70px;
  padding-top: 12px;
  display: inline-block;
  color: #7191A5;
  font-size: 13px;
  font-weight: 700;
  /* display: inline-flex; */
  justify-content: space-evenly;
}
.popup-btn{
  width: 279px;
  height: 112px;
}
#restart-btn, #setup-new-game-btn{
  width: 279px;
  height: 48px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
}
#restart-btn{
  background-color: #FDA214;
  color: #FCFCFC;
}
#setup-new-game-btn{
  margin-top: 16px;
  background-color: #DFE7EC;
  color: #304859;
  /* font-size: 18px; */
}