* {
  margin: 0;
  padding: 0;
}

#header {
  width: 327px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  font-family: Atkinson Hyperlegible;
  color: #152938;
}
#desktop-tablet-restart-btn, #desktop-tablet-new-game-btn{
  visibility: hidden;
  position: absolute;
  right: 40px;
  top: -150px;
  width: 127px;
  height: 52px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
#desktop-tablet-restart-btn{
  background-color: #FDA214;
  color: #FCFCFC;
}
#desktop-tablet-new-game-btn{
  background-color: #DFE7EC;
  color: #304859;
}
#menu-btn {
  width: 78px;
  height: 40px;
  border-radius: 20px;
  background-color: #fda214;
  color: #fcfcfc;
  border: none;
}
/* 4x4 icon  */
#theme {
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
  margin-top: 80px;
  grid-template-rows: auto;
}
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#icons1 {
  width: 326.88px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5em;
}
.icon {
  width: 70px;
  height: 70px;
  background-color: #304859;
  border-radius: 50%;
  /* cursor: pointer; */
  transition: 0.3s all ease;
  display: grid;
  place-items: center;
}

.icon i {
  opacity: 0; /* Value of Opacity should be 0 */
  color: #fcfcfc;
}
.icon.clicked {
  background-color: #fda214;
  pointer-events: none;

}
.icon.correct {
  background-color: #bcced9;
  pointer-events: none;
}
.icon.clicked i,
.icon.icon.correct i {
  opacity: 1;
}
/* .icon.incorrect {
  background-color: rgb(241, 95, 95);
} */

/* 6x6 icon */
#theme2 {
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons2 {
  width: 326.88px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.2em;
}


#icons2 .icon {
  width: 40px;
  height: 40px;
}
/* 4x4 numbers */
#theme3 {
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons3 {
  width: 326.88px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.2em;
}

/* 6x6 numbers */
#theme4 {
  opacity: 0; /* Value of Opacity should be 0 */
  display: grid;
  place-items: center;
}
#icons4 .icon {
  width: 40px;
  height: 40px;
}
#icons4 {
  width: 326.88px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.2em;
}
/* Statistics */
.stats {
  opacity: 0; /* Value of Opacity should be 0 */
  width: 327px;
  height: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 112.2px;
}
#timer-div {
  width: 150px;
  height: 70px;
  background-color: #bcced9;
  margin-right: 20px;
  
}
.timer {
  width: 87px;
  height: 51px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: "Atkinson  Hyperlegible";
  color: #7191a5;
  font-weight: 700;
}
.sec {
  font-weight: 700;
  color: #152938;
  width: 56.43px;
  height: 30px;
  margin-left: 55px;
  margin-top: -30px;
  color: #304859;
  font-size: 24px;
}
#moves-div {
  width: 150px;
  height: 70px;
  display: grid;
  background-color: #bcced9;
}
.moves {
  width: 87px;
  height: 51px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #7191a5;
  font-weight: 700;
}
.mov {
  font-weight: 700;
  /* color: #152938; */
  margin-left: 68px;
  margin-top: -30px;
  color: #304859;
  font-size: 24px;
}
#menu-btn-popup {
  visibility: hidden; /* Value should be hidden*/
  width: 327px;
  height: 224px;
  display: grid;
  place-items: center;
  margin-left: 24px;
  border-radius: 15px;
  position: absolute;
  top: -90px;
  transition: transform 0.4s, bottom 0.4s;
  transform: scale(0.1);
  background-color: #f2f2f2;
}
#menu-restart-btn,
#menu-new-game-btn,
#menu-resume-game-btn {
  width: 279px;
  height: 48px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  border: none;
}
#menu-restart-btn {
  color: #f2f2f2;
  background-color: #fda214;
}
#menu-new-game-btn,
#menu-resume-game-btn {
  color: #304859;
  background-color: #dfe7ec;
}
#popup {
  visibility: hidden; /* Value should be hidden*/
  width: 327px;
  height: 376px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  /* top: -190px; */
  right: 25px;
  transform: scale(0.1);
  display: grid;
  place-items: center;
  border-radius: 15px;
  bottom: 170px;
  transition: transform 0.4s, bottom 0.4s;
  z-index: 100;
}
.popup-info {
  width: 238px;
  height: 56px;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 288px;
}
.popup-info h3 {
  font-weight: 700;
  font-size: 24px;
  color: #152938;
}
.popup-p {
  font-size: 14px;
  line-height: 17.36px;
  color: #7191a5;
}
.result-summary {
  width: 279px;
  height: 104px;
  /* margin-top: 0px; */
  
}
.time-elapsed,
.moves-taken {
  width: 279px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-between;
  background-color: #dfe7ec;
}
.time-elapsed {
  margin-bottom: 8px;
  margin-left: 0;
}
.time-elapsed .t,
.moves-taken .m {
  /* text-align: start; */
  padding-right: 70px;
  padding-top: 12px;
  display: inline-block;
  color: #7191a5;
  font-size: 13px;
  /* display: inline-flex; */
  justify-content: space-evenly;
}
.player1-result,
.player2-result,
.player3-result,
.player4-result {
  width: 279px;
  height: 48px;
  background-color: #dfe7ec;
  border-radius: 10px;
  justify-content: space-between;
}
.player1-result {
  margin-bottom: 8px;
}
.player1-result .p1,
.player2-result .p2,
.player3-result .p3,
.player4-result .p4 {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 12px;
  display: inline-block;
  color: #7191a5;
  font-size: 13px;
  /* display: inline-flex; */
  justify-content: space-evenly;
}
.popup-btn {
  width: 279px;
  height: 112px;
}
#restart-btn,
#setup-new-game-btn {
  width: 279px;
  height: 48px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  line-height: 22.32px;
  font-weight: 700;
}
#restart-btn {
  background-color: #fda214;
  color: #fcfcfc;
}
#setup-new-game-btn {
  margin-top: 16px;
  background-color: #dfe7ec;
  color: #304859;
  /* font-size: 18px; */
}
#multiplayer-2, #multiplayer-3, #multiplayer-4 {
  width: 327px;
  height: 78px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  z-index: 0;
}
#player-1,
#player-2, 
#player-01,
#player-02,
#player-03, 
#player-001,
#player-002,
#player-003,
#player-004 {
  font-size: 15px;
  width: 64px;
  height: 70px;
  border-radius: 10px;
  background-color: #dfe7ec;
  display: grid;
  place-items: center;
  font-weight: 700;
}
.p1-label,
.p2-label, 
.p01-label,
.p02-label,
.p03-label, 
.p001-label,
.p002-label,
.p003-label,
.p004-label {
  color: #7191a5;
}
.p1-moves,
.p2-moves {
  margin-top: 4px;
  color: #304859;
  font-size: 24px;
}
.player-active,
.player-active-1,
.player-active-11 {
  /* color: #FCFCFC !important; */
  background: #fda214 !important;
}
.player-active::after,
.player-active-1::after,
.player-active-11::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: fixed;
  /* bottom:  40px; */
  margin-bottom: 0;
  bottom: 160px;
  border: 20px solid transparent;
  border-bottom: 20px solid #fda214;
  z-index: 1;
}

.p01-moves,
.p02-moves,
.p03-moves {
  color: #304859;
  font-size: 24px;
}
.p001-moves,
.p002-moves,
.p003-moves,
.p004-moves {
  color: #304859;
  font-size: 24px;
}

.current-turn1, .current-turn2{
  position: absolute;
  bottom: 920px;
}
.current-turn01, .current-turn02, .current-turn03{
  position: absolute;
  bottom: 920px;
}
.current-turn001, .current-turn002, .current-turn003, .current-turn004{
  position: absolute;
  bottom: 920px;
}

@media (min-width: 768px) {
  #header {
    width: 689px;
    height: 52px;
  }
  h2 {
    font-size: 40px;
  }
  #icons1,#icons3{
    width: 532px;
  }
  
  #icons1 .icon, #icons3 .icon{
    width: 118px;
    height: 118px;
    font-size: 2rem;
  }
  #icons2,#icons4{
    width: 572px;
    
  }
  #icons2 .icon, #icons4 .icon{
    width: 82px;
    height: 82px;
    font-size: 2.5rem;
  }
  .stats{
    width: 540px;
    height: 72px;
    justify-content: space-evenly;
  }
  #timer-div, #moves-div{
    width: 255px;
    height: 72px;
    display: flex;
  }
  .timer, .moves{
    position: relative;
    bottom: -15px;
    right: 15px;
    font-size: 18px;
  }
  .sec,.mov{
    position: relative;
    top: 50px;
    right: 25px;
    font-size: 32px;
  }
  #desktop-tablet-restart-btn, #desktop-tablet-new-game-btn{
    position: relative !important;
    visibility: visible;
    top: 0px;
  }
  #desktop-tablet-new-game-btn{
    margin-left: 15px;
  }
  #menu-btn{
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: -130px;
  }
  #multiplayer-2, #multiplayer-3, #multiplayer-4{
    width: 689px;
    height: 92px;
  }
#player-1,
#player-2, 
#player-01, 
#player-02, 
#player-03, 
#player-001, 
#player-002, 
#player-003, 
#player-004{
  width: 164px;
  height: 80px;
  /* display: flex; */
  
}
.player-active::after,
.player-active-1::after,
.player-active-11::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 20px solid #fda214;
}
.p1-moves, .p2-moves,.p01-moves,.p02-moves, .p03-moves, .p001-moves, .p002-moves, .p003-moves, .p004-moves{
  font-size: 30px;
  position: relative;
  right: 50px;
}
.p1-label, 
.p2-label, 
.p01-label,
.p02-label,
.p03-label, 
.p001-label,
.p002-label,
.p003-label,
.p004-label{
  position: relative;
  right: 50px;
  visibility: hidden;
}
.p1-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 1 ";
}
.p2-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 2";
}
.p01-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 1";
}
.p02-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 2";
}
.p03-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 3";
}
.p001-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 1";
}
.p002-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 2";
}
.p003-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 3";
}
.p004-label::after{
  visibility: visible;
  width: 60px;
  position: absolute;
  left: 0px;
  content: "Player 4";
}
#popup{
  width: 654px;
  /* height: 500px; */
  position: absolute;
  top: 200px !important;
  right: 60px;

}
.popup-btn{
  height: 11px;
}
.result-summary{
  width: 542px;
  /* height: 160px; */
}
.time-elapsed,
.moves-taken{
  width: 542px;
  height: 72px;
  position: relative;
  top: 50px !important;
}
.time-elapsed{
  margin-bottom: 10px;
}
.time-elapsed .t,
.moves-taken .m {
  padding-right: 280px;
  font-size: 18px;
  padding-top: 25px;
}
.player1-result,
.player2-result,
.player3-result,
.player4-result{
  width: 542px;
  height: 55px;
  position: relative;
  bottom: 25px;
}

#restart-btn{
  position: relative;
  right: 130px;
  top: 10px;
  width: 264px;
}
#setup-new-game-btn{
  position: relative;
  left: 150px;
  bottom: 53px;
  width: 264px;
}
.popup-info{
  width: 234px;
  height: 60px;
  justify-content: center;

  /* margin-left: auto; */
  /* margin-right: auto; */
  
}
.popup-info h3{
  font-size: 38px;
  width: 334px;
  margin-left: 70px;
  /* justify-content: center; */
}
.popup-p{
  font-size: 18px;
  /* position: relative; */
  /* right: 50px; */
  width: 286px;
}
}

@media(min-width: 1000px){
  #header{
    width: 1110px;
  }
  #icons1 .icon, #icons3 .icon{
    width: 80px;
    height: 70px;
    font-size: 1rem;
  }
  #icons2 .icon, #icons4 .icon{
    width: 50px;
    height: 40px;
    font-size: 1.5rem;
  }
  #icons2,#icons4{
    width: 572px;
    
  }
  .stats{
    width: 1110px;
    height: 130px;
  }
  #timer-div{
    position: relative;
    left: 80px;
  }
  #moves-div{
    position: relative;
    right: 110px;
  }
  #multiplayer-2, #multiplayer-3, #multiplayer-4{
    width: 1110px;
    /* height: 130px; */
    position: absolute;
    top: -20px;
  }
  .stats{
    position: absolute;
    bottom: 20px;
    left: 110px;
    
  }
  
  #player-1,
  #player-01, 
  #player-02, 
  #player-03, 
  #player-001, 
  #player-002, 
  #player-003, 
  #player-2, 
  #player-004{
  width: 255px;
  height: 72px;
  /* display: flex; */
  }
  .p1-moves, .p2-moves,.p01-moves,.p02-moves, .p03-moves, .p001-moves, .p002-moves, .p003-moves, .p004-moves{
  font-size: 30px;
  position: relative;
  left: 80px;
  /* bottom: 10px; */
  }
  .p1-label, 
  .p2-label, 
  .p01-label,
  .p02-label,
  .p03-label, 
  .p001-label,
  .p003-label,
  .p002-label,
  .p004-label{
  position: relative;
  right: 90px;
  top: 30px;
  }
#popup{
  position: absolute;
  left: 5px !important;
  top: 80px !important;
}
.icon:hover{
  background-color: #6395B8;
  cursor: pointer;
}
#desktop-tablet-restart-btn:hover, #desktop-tablet-new-game-btn:hover{
  cursor: pointer;
}
#desktop-tablet-new-game-btn:hover{
  background-color: #6395b8;
  color: #FCFCFC;
}
.current-turn1, .current-turn2{
  position: relative;
  top: 30px;
}

.current-turn01, .current-turn02, .current-turn03{
  position: relative;
  top: 30px;
}
.current-turn001, .current-turn002, .current-turn003, .current-turn004{
  position: relative;
  top: 30px;
}

  
}
