body {
  background-color: #152938;
}
#memory {
  width: 122px;
  height: 40px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  color: #fcfcfc;
}
#options {
  width: 327px;
  height: 386px;
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  border-radius: 15px;
}
#theme-selection {
  position: relative;
  top: 24px;
  width: 270px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.select-theme {
  color: #7191a5;
}
#theme-buttons button {
  width: 134px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
#theme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-btn-1 {
  margin-right: 11px;
  background-color: #152938;
  color: #fcfcfc;
}
.theme-btn-2 {
  margin-right: 11px;
  background-color: #bcced9;
  color: #fcfcfc;
}
#number-selection {
  position: relative;
  top: 24px;
  width: 270px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
#number-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#number-buttons button {
  width: 62px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.numbers-of-players {
  color: #7191a5;
}
.number-btn-1,
.number-btn-2,
.number-btn-3 {
  margin-right: 10px;
}
.number-btn-1 {
  background-color: #152938;
  color: #fcfcfc;
}
.number-btn-2,
.number-btn-3 {
  background-color: #bcced9;
  color: #fcfcfc;
}
#grid-size-selection {
  position: relative;
  top: 24px;
  width: 270px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.grid-size {
  color: #7191a5;
}
#grid-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid-buttons button {
  width: 134px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.grid-btn-1 {
  margin-right: 11px;
  background-color: #152938;
  color: #fcfcfc;
}
.grid-btn-2 {
  background-color: #bcced9;
  color: #fcfcfc;
}
#start-game {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#start-game button {
  width: 279px;
  height: 48px;
  border-radius: 20px;
  background-color: #fda214;
  color: #fcfcfc;
  border: none;
}
.select-theme,
.numbers-of-players,
.grid-size {
  font-weight: 700;
  font-size: 15px;
  line-height: 18.6px;
  font-family: Atkinson Hyperlegible;
}
